<template>
  <v-data-table
    :headers="headers"
    :items="arrayitems"
    sort-by="city_name"
    class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar flat color="white">
        <v-toolbar-title>
            <span v-if="typeItem === 'cities'">Villes :</span>
            <span v-else-if="typeItem === 'sites'">Sites :</span>
        </v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <div class="flex-grow-1"></div>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-if="typeItem === 'cities'" v-on="on">Nouvelle ville</v-btn>
            <v-btn color="primary" dark class="mb-2" v-else-if="typeItem === 'sites'" v-on="on">Nouveau site</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field v-model="editedItem.city_name" label="Ville"></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4" v-if="typeItem !== 'sites'">
                    <v-text-field v-model="editedItem.postal_code" label="Code Postal"></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <div class="flex-grow-1"></div>
              <v-btn color="blue darken-1" text @click="close">Annuler</v-btn>
              <v-btn color="blue darken-1" text @click="save">Enregistrer</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.action="{ item }">
      <v-icon
        class="mr-2"
        @click="editItem(item)"
        style="font-size: 24px;"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        @click="deleteItem(item)"
        style="font-size: 24px;"    
      >
         mdi-trash-can
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize">Reset</v-btn>
    </template>
  </v-data-table>
</template>

<script>
  export default {
    props: ['headers', 'typeItem'],
    data: () => ({
      dialog: false,
      arrayitems: [],
      editedIndex: -1,
      editedItem: {},
      defaultItem: {},
      fixarray: []
    }),

    computed: {
      formTitle () {
          if (this.typeItem === 'cities') return this.editedIndex === -1 ? 'Nouvelle ville' : 'Editer la ville'
          else if (this.typeItem === 'sites') return this.editedIndex === -1 ? 'Nouveau site' : 'Editer le site'
      },
      searchVal () {
          return this.$store.state.search;
      }
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      searchVal () {
          console.log('hey')
          const filteredArray = this.fixarray.filter((city => city.city_name.toLowerCase().includes(this.searchVal.toLowerCase())))
          this.arrayitems = filteredArray;
          console.log
      }
    },

    async mounted () {
        console.log('mounted');
      await this.initialize()
      this.defaultItem = {
        city_name: '',
        postal_code: 0,
      }
      this.editedItem = {
        city_name: '',
        postal_code: 0,
      }
    },

    methods: {
      async initialize () {
          console.log('alloMec');
        try {
            // const axiox = this.getAxios(this.$session.get('userToken'))
            if (this.typeItem === 'cities') {
                // const res = await axios.get('/cities/showAll')
                // this.arrayitems = res.data;
                // this.fixarray = res.data;
                this.arrayitems = [
                {
                    city_name: 'Frozen Yogurt',
                    postal_code: 159,
                },
                {
                    city_name: 'Ice cream sandwich',
                    postal_code: 237,
                },
                {
                    city_name: 'Eclair',
                    postal_code: 262,
                },
                {
                    city_name: 'Cupcake',
                    postal_code: 305,
                },
                {
                    city_name: 'Gingerbread',
                    postal_code: 356,
                },
                {
                    city_name: 'Jelly bean',
                    postal_code: 375,
                },
                {
                    city_name: 'Lollipop',
                    postal_code: 392,
                },
                {
                    city_name: 'Honeycomb',
                    postal_code: 408,
                },
                {
                    city_name: 'Donut',
                    postal_code: 452,
                },
                {
                    city_name: 'KitKat',
                    postal_code: 518,
                },
                ]
                this.fixarray = [
                {
                    city_name: 'Frozen Yogurt',
                    postal_code: 159,
                },
                {
                    city_name: 'Ice cream sandwich',
                    postal_code: 237,
                },
                {
                    city_name: 'Eclair',
                    postal_code: 262,
                },
                {
                    city_name: 'Cupcake',
                    postal_code: 305,
                },
                {
                    city_name: 'Gingerbread',
                    postal_code: 356,
                },
                {
                    city_name: 'Jelly bean',
                    postal_code: 375,
                },
                {
                    city_name: 'Lollipop',
                    postal_code: 392,
                },
                {
                    city_name: 'Honeycomb',
                    postal_code: 408,
                },
                {
                    city_name: 'Donut',
                    postal_code: 452,
                },
                {
                    city_name: 'KitKat',
                    postal_code: 518,
                },
                ]
                console.log(this.arrayitems);
            }
            else if (this.typeItem === 'sites') {
                // const res = await axios.get('')
                // this.arrayitems = res.data;
                // this.fixarray = res.data;
                this.arrayitems = [
                {
                    city_name: 'Frozen Yogurt',
                },
                {
                    city_name: 'Ice cream sandwich',
                },
                {
                    city_name: 'Eclair',
                },
                {
                    city_name: 'Cupcake',
                },
                {
                    city_name: 'Gingerbread',
                },
                {
                    city_name: 'Jelly bean',
                },
                {
                    city_name: 'Lollipop',
                },
                {
                    city_name: 'Honeycomb',
                },
                {
                    city_name: 'Donut',
                },
                {
                    city_name: 'KitKat',
                },
                ]
                this.fixarray = [
                {
                    city_name: 'Frozen Yogurt',
                },
                {
                    city_name: 'Ice cream sandwich',
                },
                {
                    city_name: 'Eclair',
                },
                {
                    city_name: 'Cupcake',
                },
                {
                    city_name: 'Gingerbread',
                },
                {
                    city_name: 'Jelly bean',
                },
                {
                    city_name: 'Lollipop',
                },
                {
                    city_name: 'Honeycomb',
                },
                {
                    city_name: 'Donut',
                },
                {
                    city_name: 'KitKat',
                },
                ]
            }

            console.log(this.arrayitems)
            console.log(this.typeItem)
        }
        catch (error) {
            console.log(error);
        }
    },
    editItem (item) {
        this.editedIndex = this.arrayitems.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        const index = this.arrayitems.indexOf(item)
        let obj = ''
        if (typeItem === 'cities') obj = 'cette ville'
        else if (typeItem === 'sites') obj = 'ce site'
        confirm(`Etes vous sur de vouloir supprimer ${obj} ?`) && this.arrayitems.splice(index, 1)
      },

      close () {
        this.dialog = false
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.arrayitems[this.editedIndex], this.editedItem)
        } else {
          this.arrayitems.push(this.editedItem)
        }
        this.close()
      },
    },
  }
</script>