<template>
  <v-container class="grey lighten-5 widthMod">
    <v-row no-gutters>

      <v-col
      sm='3'
        class="fullWidthResponsive"
      >
        <nav-tab :items="items"></nav-tab>
      </v-col>

      <v-col
        sm="8"
        id="specialMargin"
      >
        <v-card
          class="pa-2"
          outlined
          tile
        >
          <sort-array :headers="headers" :items="array" id="sticky80px"></sort-array>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import navTab from '@/components/navTab.vue'
import sortArray from '@/components/sortArray.vue'

export default {
  components: {
    navTab: navTab,
    sortArray: sortArray
  },
  props: {
  },
  data () {
    return {
      items: [
        { title: 'Site', icon: 'mdi-home', id: 'place' },
        { title: 'Le nom contient', icon: 'mdi-magnify', id: 'search' },
        { title: 'Entre', icon: 'mdi-calendar', id: 'date' },
        { title: 'Informations supplémentaires :', icon: 'mdi-check', id: 'checkbox' },
      ],
      headers: [
        {
          text: 'Dessert (100g serving)',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'Calories', value: 'calories' },
        { text: 'Fat (g)', value: 'fat' },
        { text: 'Carbs (g)', value: 'carbs' },
        { text: 'Protein (g)', value: 'protein' },
        { text: 'Iron (%)', value: 'iron' }
      ],
      array: [
        {
          name: 'Frozen Yogurt',
          calories: 159,
          fat: 6.0,
          carbs: 24,
          protein: 4.0,
          iron: '1%'
        },
        {
          name: 'Ice cream sandwich',
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3,
          iron: '1%'
        },
        {
          name: 'Eclair',
          calories: 262,
          fat: 16.0,
          carbs: 23,
          protein: 6.0,
          iron: '7%'
        },
        {
          name: 'Cupcake',
          calories: 305,
          fat: 3.7,
          carbs: 67,
          protein: 4.3,
          iron: '8%'
        },
        {
          name: 'Gingerbread',
          calories: 356,
          fat: 16.0,
          carbs: 49,
          protein: 3.9,
          iron: '16%'
        },
        {
          name: 'Jelly bean',
          calories: 375,
          fat: 0.0,
          carbs: 94,
          protein: 0.0,
          iron: '0%'
        },
        {
          name: 'Lollipop',
          calories: 392,
          fat: 0.2,
          carbs: 98,
          protein: 0,
          iron: '2%'
        },
        {
          name: 'Honeycomb',
          calories: 408,
          fat: 3.2,
          carbs: 87,
          protein: 6.5,
          iron: '45%'
        },
        {
          name: 'Donut',
          calories: 452,
          fat: 25.0,
          carbs: 51,
          protein: 4.9,
          iron: '22%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        },
        {
          name: 'KitKat',
          calories: 518,
          fat: 26.0,
          carbs: 65,
          protein: 7,
          iron: '6%'
        }
      ]
    }
  },
  methods: {
    sortArray () {

    }
  },
  async mounted () {
    const axios = this.getAxios(this.$session.get('userToken'));
    const array = await axios.get('/sorties');
    this.array = array.data;
  }
}
</script>

<style scoped>
.widthMod
{
  width: 70vw;
  height: 100%;
}

#specialMargin
{
  margin-left: 12px;
}

#sticky80px
{
  position: sticky;
  top: 80px;
}

.fullWidthResponsive
{
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .widthMod
  {
    width: 100vw;
  }
  #specialMargin
  {
    margin-left: 24px;
  }
}

@media screen and (max-width: 800px) {
  .fullWidthResponsive
  {
    width: 100vw;
  }

  .fullWidthResponsive > div
  {
    margin: 0 !important;
    margin-bottom: 10px !important;
    width: 100% !important;
  }

  .fullWidthResponsive > div > .v-navigation-drawer
  {
    width: 100% !important;
  }
}
</style>
