<template>
  <v-app id="inspire">
    <v-app-bar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>SortirEnsembles - </span>
        <span class="font-weight-light">PIERRE-YVES/CLEMENT/THOMAS/DIMITRI</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="flex-grow-1"></div>
      <router-link v-if="connected" tag='div' to="/cities" class="to-login"><v-btn :text="true" :color="'secondary'" :large="true">Villes</v-btn></router-link> 
      <router-link v-if="connected" tag='div' to="/sites" class="to-login"><v-btn :text="true" :color="'secondary'" :large="true">Sites</v-btn></router-link> 
      <router-link v-if="connected" tag='div' to="/home" class="to-login"><v-btn :text="true" :color="'secondary'" :large="true">Acceuil</v-btn></router-link> 
      <router-link v-if="connected" tag='div' to="/profile" class="to-login"><v-btn :text="true" :color="'secondary'" :large="true">Mon profil</v-btn></router-link> 
      <div v-if="connected" @click="disconnect" class="to-login"><v-btn :text="true" :color="'secondary'" :large="true">Se déconnecter</v-btn></div> 
    </v-app-bar>

    <v-content id="centered">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  components: {
  },
  data: () => ({
  }),
  mounted () {
  },
  computed: {
    connected () {
      return this.$store.state.connected;
    }
  },
  methods : {
    async disconnect () {
      try {
        const axios = this.getAxios(this.$session.get('userToken'))
        axios.get('/logout');
        this.$session.set('userToken', false);
        this.$store.commit('connect', false);
        this.$router.push('/')
      } catch (error) {
        console.log(error)
      }
    }
  }
};
</script>

<style>
#centered > div:first-child
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.to-login > button {
  text-decoration: underline;
  text-transform: initial;
}


@media screen and (max-height: 700px), (max-width: 500px){
  #centered > div:first-child
  {
    position: relative;
    align-items: flex-start;
  }
}
</style>